<div class="video-player-and-details-container">
  <mat-card class="video-player-container">
    <video class="family-video-player" *ngIf="dataFound" autoplay controls>
      <source [src]="videoUrl" type="video/mp4">
    </video>
    <mat-card-content class="video-details-container">
      <div class="title-container">
        <p>Title</p>
        <div class="location-date-container">
          <p>Date</p>
          <p>Location</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>