<mat-card class="side-panel-container">
    <mat-tab-group color="primary">
        <mat-tab label="people">
            <app-person-grid-card class="test"></app-person-grid-card>
            <app-person-grid-card class="test"></app-person-grid-card>
            <app-person-grid-card class="test"></app-person-grid-card>
            <app-person-grid-card class="test"></app-person-grid-card>
            <app-person-grid-card class="test"></app-person-grid-card>
            <app-person-grid-card class="test"></app-person-grid-card>
        </mat-tab>
        <mat-tab label="maps"></mat-tab>
        <mat-tab label="timeline"></mat-tab>
    </mat-tab-group>
</mat-card>
