<mat-grid-list cols="4" rowHeight="fit">
    <mat-grid-tile>
        <app-video-grid-card></app-video-grid-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-video-grid-card></app-video-grid-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-video-grid-card></app-video-grid-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-video-grid-card></app-video-grid-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-video-grid-card></app-video-grid-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-video-grid-card></app-video-grid-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-video-grid-card></app-video-grid-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-video-grid-card></app-video-grid-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-video-grid-card></app-video-grid-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-video-grid-card></app-video-grid-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-video-grid-card></app-video-grid-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-video-grid-card></app-video-grid-card>
    </mat-grid-tile>
</mat-grid-list>